{% extends 'base.html.twig' %}

{% block title %}Restratrazione{% endblock %}

{% block body %}
<div class="container my-5">
    <!--Message flash-->
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <h1>Registrazione</h1>
    
    {{ form(registerform) }}

    <p>Hai un account? <a href="{{ path('app_login') }}">
        <strong>Accedi ora</strong>
    </a>

</div>
{% endblock %}
